[submodule "packages/library/app"]
	path = packages/library/app
	url = https://github.com/artevelde-uas/canvas-lms-app.git
[submodule "packages/plugins/export-course-groups"]
	path = packages/plugins/export-course-groups
	url = https://github.com/artevelde-uas/canvas-lms-export-course-groups-plugin.git
[submodule "packages/plugins/file-explorer-enhancements"]
	path = packages/plugins/file-explorer-enhancements
	url = https://github.com/artevelde-uas/canvas-lms-file-explorer-enhancements-plugin.git
[submodule "packages/plugins/enable-course-recycle-bin"]
	path = packages/plugins/enable-course-recycle-bin
	url = https://github.com/artevelde-uas/canvas-lms-enable-course-recycle-bin-plugin.git
[submodule "packages/plugins/fix-files-navigation"]
	path = packages/plugins/fix-files-navigation
	url = https://github.com/artevelde-uas/canvas-lms-fix-files-navigation-plugin.git
[submodule "packages/plugins/enhanced-login-page"]
	path = packages/plugins/enhanced-login-page
	url = C:/Users/renadm/Projects/Canvas/UI Customization/packages/plugins/enhanced-login-page
[submodule "packages/library/api"]
	path = packages/library/api
	url = https://github.com/artevelde-uas/canvas-lms-api.git
[submodule "packages/plugins/clear-all-sections-default"]
	path = packages/plugins/clear-all-sections-default
	url = https://github.com/artevelde-uas/canvas-lms-clear-all-sections-default-plugin.git
[submodule "packages/plugins/only-show-selected-module"]
	path = packages/plugins/only-show-selected-module
	url = https://github.com/artevelde-uas/canvas-lms-only-show-selected-module-plugin.git
[submodule "packages/plugins/assignments-bulk-assign-to"]
	path = packages/plugins/assignments-bulk-assign-to
	url = https://github.com/artevelde-uas/canvas-lms-assignments-bulk-assign-to-plugin.git
[submodule "packages/plugins/installed-plugins-list"]
	path = packages/plugins/installed-plugins-list
	url = C:\\Users\\renadm\\Projects\\Canvas\\UI Customization\\packages\\plugins\\installed-plugins-list
[submodule "packages/plugins/gradebook-disclaimer"]
	path = packages/plugins/gradebook-disclaimer
	url = https://github.com/artevelde-uas/canvas-lms-gradebook-disclaimer-plugin.git
[submodule "packages/plugins/all-courses-terms-tabs"]
	path = packages/plugins/all-courses-terms-tabs
	url = https://github.com/artevelde-uas/canvas-lms-all-courses-terms-tabs-plugin.git
[submodule "packages/plugins/restrict-sis-course-settings"]
	path = packages/plugins/restrict-sis-course-settings
	url = https://github.com/artevelde-uas/canvas-lms-restrict-sis-course-settings-plugin.git
[submodule "packages/plugins/better-left-menu"]
	path = packages/plugins/better-left-menu
	url = https://github.com/artevelde-uas/canvas-lms-better-left-menu-plugin.git
